html{
    height: 100%;
}

body {
  height: 100%;
  background: url("../img/UCF_background.jpg") no-repeat center center fixed; 
  background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    word-wrap:break-word;
}

.dropdown {
    display: inline-block;
}

.username-header{
    padding-top: 1.2em;
}

.repeated-heading{
    font-size: 36px;
}

.btn-sm{
    padding: 3px 10px !important;
    font-size: 14px !important;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.customfooter{
    margin-left: 1%;
    color:yellow;
    padding-top: 50px;
}

.jumbotron{
    background: rgba(238, 230, 238, 0.9); 
}

.flash.li{
    left: 0;
}

.error-image{
    padding: 20px;
}


@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.list-group-item{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1px 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #bbb;
  list-style-type: none;
  padding: 10px 30px 0px 30px;
}

.list-group-item:first-child {
    border-radius: 25px;
}

.list-group-item:last-child {
    border-radius: 25px;
}

.li-link{
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #7c6751;
    border-color: #564738;
}

.btn-success{
    background-color: #633626;
    border-color: #552D20;
    color: #fff;
}

.well-sm {
    padding: 0px;
    border-radius: 3px;
    margin: 0px auto;
}

.togglearrow{
    display: inline;
    position: absolute;
    right: 20px;
}

.closemessage{
    display: inline;
    position: absolute;
    left: 20px;
}

.radiobuffer{
    margin: 20px;
}

a.deletemessage{
    position: absolute;
    display: inline-block;
    left: 0;
    height: 100%;        
    width: 100%;
}

.customfooter, .push {
height: 4em;
}
