body {
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url("../img/UCF_background.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.containter{
}

.footer{
    /*width:73%;*/
    bottom:10px;
    color:yellow;
    /*left:0;*/;
    padding-top:8px;
}

.jumbotron{
    background: rgba(238, 230, 238, 0.9); 
    /*padding-bottom: 100px;*/
    flex:1;
}

.flash.li{
    left: 0;
}

.flash_containter{
    /*footer height + padding - padding of page i used 5 in this case cause i don't know real number*/
    /*margin-bottom: 45px; */
    
}

.error-image{
    padding: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}


 /**/

 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1px 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #bbb;
  list-style-type: none;
}
