{% extends "layout.html" %}

{% block extra_css_js %}
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-formhelpers.min.css">
<script src="../static/js/bootstrap-formhelpers-phone.format.js"></script>
<script src="../static/js/bootstrap-formhelpers-phone.js"></script>
{% endblock %}


{% block header %} {% include 'header_home.html' %} {% endblock %}

{% block page %}Create Event{% endblock %}

{% block content %}
    <form class="form-signin" action="/validate_event" method="post">

        <label for="eventName" class="sr-only">Event Name</label>
        <input type="name" name="eventName" id="eventName" class="form-control" placeholder="Event Name" value="{{request.form.eventName}}" required autofocus>

        <label for="eventType" class="sr-only">Event Type</label>
        <input type="name" name="eventType" id="eventType" class="form-control" placeholder="Event Type" value= "{{request.form.eventType}}" required>

        <label for="eventDescription" class="sr-only">Event Description</label>
        <input type="name" name="eventDescription" id="eventDescription" class="form-control" placeholder="Event Description" value= "{{request.form.eventDescription}}"  required>

        <label for="eventEmail" class="sr-only">Event Email</label>
        <input type="email" name="eventEmail" id="eventEmail" class="form-control" placeholder="Event@University.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" value= "{{request.form.eventEmail}}"  required>
         
        <label for="eventPhone" class="sr-only">Event Phone</label>
        <input type="text" name="eventPhone" id="eventPhone" class="form-control bfh-phone" data-country="US" placeholder="(123) 123-4567" value= "{{request.form.eventPhone}}" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Create Event</button>
        
    </form>
{% endblock %}   


