{% from "macros.html" import nav_link with context %}

            <nav>
                <ul class="nav nav-pills pull-right">

                    {{ nav_link('userhome', 'Home','fa fa-home') }}
                    {{ nav_link('create_event', 'Create Event', 'fa fa-camera-retro') }}
                    {{ nav_link('messages', 'Messages', 'fa fa-envelope') }}
                    {{ nav_link('signin', 'RSO Petition', 'fa fa-file-o') }}
                    {{ nav_link('signout', 'Sign Out', 'fa fa-arrow-circle-right') }}
                </ul>
            </nav>



            <h3 clss="text-muted">University Event Finder</h3>
