{% from "macros.html" import flash_msg with context %}

<!DOCTYPE html>
<html>

<head>
    <title>University Events</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        .<div class= "header">
        {% block header %} {% include 'header_signup.html' %} {% endblock %}
        </div>    

        <div class="jumbotron">
            <h2>{% block page %}{% endblock %} - University Events</h2>
            <br>
            {% block content %}{% endblock %}
                <div class='flash_containter'>
                {{flash_msg()}}
                </div>
        </div>
        
        
        <div class="footer">
        <p>&copy; Company 2015</p>
        </div>
    </div>
</body>
</html>