{% extends "layout.html" %}

{% block extra_css_js %}

    <script>
    $(document).ready(function() {
      $("#togglecontent").click(function () {
        $("#togglearrow").toggleClass("fa-caret-right  fa-caret-down");
      });
    });
    </script>

{% endblock %}

{% block header %} {% include 'header_home.html' %} {% endblock %}

{% block page %}Messages{% endblock %}

{% block content %}
    
    <button id="btnSignUp" class="btn btn-primary" href="/createmessage">Create New Message</button>
    <br>
    <br>
    

    <ul class ='list-group'>
            
        {% for message_item in messages_data %}
        
        <a class="btn list-group-item" data-toggle="collapse" data-target="#viewdetails" id="togglecontent">
            <li>
            <h2 class="list-group-item-heading">
            {{message_item[0]}} 
            <div id="togglearrow" class="fa fa-caret-right"></div>
            </h2>
            <p class="list-group-item-text collapse" id="viewdetails">{{message_item[1]}}</p>
            </li>
        </a>
        {% endfor %}
    </ul>

{% endblock %}


<!-- make it to where the arrow changes to a down arrow on expand -->
