{% extends "layout.html" %}

{% block header %} {% include 'header_home.html' %} {% endblock %}

{% block page %}EventList{% endblock %}

{% block content %}
    <p>Events located here</p>


    <ul class ='list-group'>
            
        {% for event_item in events %}
        <a href="/event/{{event_item[2]}}" class="list-group-item">
        <li>

        <h2 class="list-group-item-heading">{{event_item[0]}}</h4>

        <p class="list-group-item-text">{{event_item[1]}}</p>
        </li>
       
        </a>
        {% endfor %}
    </ul>

{% endblock %}
